@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*:not(.MJX-TEX *) {
    font-family: "Lexend Deca", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d3d3ff;
    font-weight: 400;
}
body {  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0; padding: 0;
}
header {
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

header #right {
    margin-left: auto;
}

header #left #logo {
    height: 75px;
}

body {
    background-color: #001131;
}
#formula .MJX-TEX { font-size:3em;}